/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

:root {
  --white-color: #fff;
  --text-color: #333;
  --primary-color: #ff5722;
}

/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 

fonts

*/

@font-face {
  font-family: "Poppins";
  src: url("../font/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../font/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins semiBold";
  src: url("../font/Poppins-semiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../font/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins Black";
  src: url("../font/Poppins-Black.ttf") format("truetype");
}

/* end fonts */

/* 

start grid

*/
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/* 

- Grid System

*/

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row>* {
  padding-right: 15px;
  padding-left: 15px;
  /*  */
  margin-bottom: 30px;
}

.col {
  max-width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.col-1 {
  width: 8.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-2 {
  width: 16.666666%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-4 {
  width: 33.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-5 {
  width: 41.666666%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-7 {
  width: 58.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-8 {
  width: 66.666666%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-9 {
  width: 75%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-10 {
  width: 83.333333%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-11 {
  width: 91.666666%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}


/* sm */

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
  .col-sm-1 {
      width: 8.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-2 {
      width: 16.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-3 {
      width: 25%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-4 {
      width: 33.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-5 {
      width: 41.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-6 {
      width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-7 {
      width: 58.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-8 {
      width: 66.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-9 {
      width: 75%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-10 {
      width: 83.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-11 {
      width: 91.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-sm-12 {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
}


/* md */

@media (min-width: 768px) {
  .container {
      width: 720px;
  }
  .col-md-1 {
      width: 8.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-2 {
      width: 16.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-3 {
      width: 25%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-4 {
      width: 33.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-5 {
      width: 41.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-6 {
      width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-7 {
      width: 58.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-8 {
      width: 66.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-9 {
      width: 75%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-10 {
      width: 83.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-11 {
      width: 91.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-md-12 {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
}


/* lg */

@media (min-width: 992px) {
  .container {
      width: 960px;
  }
  .col-lg-1 {
      width: 8.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-2 {
      width: 16.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-3 {
      width: 25%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-4 {
      width: 33.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-5 {
      width: 41.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-6 {
      width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-7 {
      width: 58.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-8 {
      width: 66.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-9 {
      width: 75%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-10 {
      width: 83.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-11 {
      width: 91.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-lg-12 {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
}


/* xl */

@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
  .col-xl-1 {
      width: 8.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-2 {
      width: 16.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-3 {
      width: 25%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-4 {
      width: 33.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-5 {
      width: 41.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-6 {
      width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-7 {
      width: 58.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-8 {
      width: 66.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-9 {
      width: 75%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-10 {
      width: 83.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-11 {
      width: 91.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xl-12 {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
}


/* xxl */

@media (min-width: 1400px) {
  .container {
      width: 1370px;
  }
  .col-xxl-1 {
      width: 8.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-2 {
      width: 16.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-3 {
      width: 25%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-4 {
      width: 33.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-5 {
      width: 41.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-6 {
      width: 50%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-7 {
      width: 58.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-8 {
      width: 66.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-9 {
      width: 75%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-10 {
      width: 83.333333%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-11 {
      width: 91.666666%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
  .col-xxl-12 {
      width: 100%;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
  }
}

/* 

end grid

*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins";
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: var(--white-color);
}

/* 
    
    reset element
    
*/

a {
  text-decoration: none;
  color: #fff;
}

/* 
  
  helper class
  
*/

.flex-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* 

header

*/

.header {
}
.nav {
  padding: 2rem 0;
}
.menu {
}
.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.menu__item {
  margin-right: 7rem;
}
.menu__item:last-child {
  margin: 0;
}
.menu__link {
  color: var(--text-color);
}
.menu__logo {
  margin-right: 7rem;
  position: relative;
  top: -1rem;
}
.menu__link--logo {
  color: var(--white-color);
  padding: 5rem 4rem 1.5rem 4rem;
  background-color: #042ff8;
  border-radius: 5rem;
  font-family: "Poppins Medium";
}

/* 

toggle

*/
.nav__toggle {
  position: relative;
  display: none;
  cursor: pointer;
}
.nav__toggle,
.nav__toggle-lines::before,
.nav__toggle-lines::after {
  width: 4rem;
  height: 0.4rem;
  background-color: #000;
  float: right;
  border-radius: 2rem;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.nav__toggle-lines::before {
  content: " ";
  position: absolute;
  top: 1rem;
}

.nav__toggle-lines::after {
  content: " ";
  position: absolute;
  top: -1rem;
}

.nav__toggle--open {
  background-color: transparent;
}

.nav__toggle--open .nav__toggle-lines::before {
  content: " ";
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav__toggle--open .nav__toggle-lines::after {
  content: " ";
  position: absolute;
  top: 0rem;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* 

menu mobile

*/

.menu__mobile {
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  position: fixed;
  top: 0;
  left: -26.2rem;
  bottom: 0;
  background: rgba(255, 87, 34, 0.5);
  -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4.5rem;
  display: none;
  z-index: 99;
}
.menu__mobile__items {
}
.menu__mobile__logo {
  margin-bottom: 3rem;
}
.menu__mobile__link--logo {
  font-family: "Poppins Medium";
}
.menu__mobile__item {
  margin-bottom: 1rem;
}
.menu__mobile__link {
}

.menu__mobile--open {
  left: 0;
}

/* 

main

*/

.main {
}

/* 

home

*/

.home {
}

.home__img-wrapper {
}
.home__image {
  max-width: 100%;
  max-height: 68rem;
}
.home__content-wrapper {
}
.home__title {
  font-size: 4rem;
  font-family: "Poppins Bold";
  font-weight: bold;
}
.home__title span {
  color: var(--primary-color);
}
.home__caption {
  color: var(--text-color);
  margin: 2rem 0 6rem 0;
}
.home__link {
  background-color: var(--primary-color);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
}

/* 

attributes

*/

.attributes {
  margin-top: -8rem;
}

.attributes__box {
  border: 1px solid rgba(153, 153, 153, 50%);
  padding: 3rem;
  border-radius: 0.5rem;
  text-align: center;
}
.attributes__title {
  font-family: "Poppins Bold";
  font-weight: bold;
  color: var(--text-color);
  font-size: 1.8rem;
  margin-bottom: 0.7rem;
}
.attributes__caption {
  color: #999;
  font-size: 1.4rem;
}

/* 

team

*/

.team {
  margin-top: 5rem;
}
.team__image-wrapper {
}
.team__image {
  max-width: 68rem;
}
.team__contant-wrapper {
}
.team__title {
  font-size: 4rem;
  font-family: "Poppins Bold";
  font-weight: bold;
}
.team__title span {
  color: #042ff8;
}
.team__caption {
  color: var(--text-color);
  font-family: "Poppins Medium";
  margin-top: 1rem;
}

.team__items {
  margin-top: 3rem;
}
.team__item {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__text {
}

.team__circle {
  min-width: 1rem;
  min-height: 1rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  margin-right: 1rem;
}

/* 

ability

*/

.ability {
}
.ability__box {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.ability__image {
  max-width: 14.5rem;
}
.ability__title {
  color: var(--text-color);
  font-size: 2rem;
  font-family: "Poppins Bold";
  margin: 2rem 0 1.3rem 0;
}
.ability__caption {
  color: #999;
  width: 23rem;
}

/* 

comment

*/

.comment {
  margin-top: 20rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet {
  margin-top: 3rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
  text-align: center;
  line-height: 20px;
  opacity: 1;
  background-color: #333;
}

.swiper-pagination-bullet-active {
  background: #042ff8;
  border: 0.2rem solid #d5ddfe;
}

/*  */
.comment__box {
  padding-left: 1.5rem;
}

.comment__image {
  max-width: 30rem;
  max-height: 30rem;
  border-radius: 100%;
}

.comment__caption {
  color: var(--text-color);
  font-family: "Poppins Medium";
  text-align: left;
  line-height: 1.8;
}

.comment__name {
  text-align: left;
  color: #042ff8;
  font-size: 3rem;
  font-family: "Poppins Medium";
  font-weight: bold;
  margin: 1.5rem 0 1rem 0;
}

.comment__job {
  text-align: left;
  color: #999;
}

/* 

discount

*/

.discount {
  margin-top: 20rem;
}
.discount__head {
  text-align: center;
}
.discount__title {
  font-size: 4rem;
  font-family: "Poppins Bold";
  font-weight: bold;
}
.discount__title span {
  color: var(--primary-color);
}
.discount__caption {
  color: #999;
  max-width: 56rem;
  margin: 0 auto;
  margin-top: 0.8rem;
}
.discount__watch {
  text-align: center;
  margin-top: 5rem;
}
.discount__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.discount__item {
  margin-right: 8rem;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.discount__item span {
  font-size: 8rem;
  position: relative;
  top: -1.8rem;
}
.discount__item:last-child {
  margin: 0;
}
.discount__day {
  font-size: 7rem;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.discount__day-text {
}

/* 

portfolio

*/

.portfolio {
  margin-top: 15rem;
}
.portfolio__title {
  font-size: 4rem;
  font-family: "Poppins Bold";
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.5rem;
}
.portfolio__title span {
  color: #042ff8;
}
.portfolio__image-wrapper {
}
.portfolio__image {
}

.portfolio>swiper {
  width: 100%;
  height: 100%;
}

.portfolio>swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio>swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio>swiper-pagination-bullet {
  margin-top: 22rem;
  min-width: 0.5rem;
  min-height: 0.5rem;
  text-align: center;
  line-height: 20px;
  opacity: 1;
  background-color: #333;
}

.portfolio>swiper-pagination-bullet-active {
  background: #042ff8;
  border: 0.2rem solid #d5ddfe;
}

/* 

guidance

*/

.guidance {
  margin-top: 20rem;
}
.guidance__image-container {
}
.guidance__image {
  max-width: 100%;
  max-height: 60rem;
}
.guidance__box {
}
.guidance__title {
  font-size: 4rem;
  font-family: "Poppins Bold";
  font-weight: bold;
}
.guidance__title span {
  color: #042ff8;
}
.guidance__caption {
  color: #999;
  margin: 1.5rem 0 5rem 0;
}

.guidance__links {
}
.guidance__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #eef1ff;
  width: 22rem;
  border-radius: 10rem;
}
.guidance__svg {
}
.guidance__information {
  color: #042ff8;
  font-size: 1.3rem;
}

/* 

footer

*/

.footer {
  border-top: 1px solid #042ff8;
  margin-top: 15rem;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
}
.footer__link--logo {
  color: #042ff8;
  font-family: "Poppins Medium";
}
.footer__copyright {
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__link {
  margin-right: 1.5rem;
  border-radius: 100%;
  background-color: #eef1ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.7rem;
}

.footer__link:last-child {
  margin: 0;
}

/* 

responsive

*/

@media screen and (max-width: 1400px) {
  .attributes {
    margin-top: -8rem;
  }
}

@media screen and (max-width: 1200px) {
  .menu__item {
    margin-right: 4rem;
  }
  .menu__logo {
    margin-right: 4rem;
    position: relative;
    top: -1rem;
  }

  .attributes {
    margin-top: 0rem;
  }
  .team__image {
    max-width: 100%;
  }
  .slider {
    max-width: 25rem;
    max-height: 25rem;
  }
  .swiper-slide img {
    max-width: 25rem;
    max-height: 16rem;
  }


}

@media screen and (max-width: 992px) {
  .menu__logo {
    display: none;
  }
  .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .attributes {
    margin-top: 5rem;
  }
  .ability {
    margin-top: 5rem;
  }
  .swiper-slide img {
    max-width: 30rem;
    max-height: 30rem;
  }
  .comment__name {
    text-align: center;
  }
  .comment__job {
    text-align: center;
  }
  .swiper-pagination {
    margin-left: 2rem;
  }
  .discount__item {
    margin-right: 5rem;
  }
  .guidance__image {
    max-width: 89%;
  }
  .guidance__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__link--logo {
    display: none;
  }
}

@media screen and (max-width: 880px) {
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
  .nav__toggle {
    display: block;
  }
  .menu__mobile {
    display: block;
  }
  .discount__item {
    margin-right: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  .team__items {
    margin-top: 3rem;
  }
  .team__caption {
    margin-top: 3rem;
  }
  .team__title {
    text-align: center;
  }
  .team__item {
    margin-bottom: 1.3rem;
  }
  .ability__box {
    margin-bottom: 2rem;
    margin-top: 0.5rem;
  }
  .comment__caption {
    padding: 2rem;
  }
  .discount__day {
    font-size: 4rem;
  }
  .discount__item span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 460px) {
  .home__title {
    font-size: 2.5rem;
  }
  .home__caption {
    font-size: 1.4rem;
  }
  .swiper-slide img {
    max-width: 20rem;
    max-height: 20rem;
  }
  .discount__item {
    margin-right: 1rem;
  }
  .discount__day {
    font-size: 3.5rem;
  }
  .discount__item span {
    font-size: 3.5rem;
  }
  .discount__day-text {
    font-size: 1.3rem;
  }
  .discount__title {
    font-size: 3rem;
  }
  .guidance__image {
    max-width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
}